@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.navbar{
    width: 270px;
    background: #ffffff;
}

.arrow{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
   /* background: url("../../assets/image/Opened.png") no-repeat center right;*/
    margin-right: 20px;
}
.arrow_img{

}
.blockList ul div:first-child{
    border-radius: 4px 4px 0 0;

}
.listText{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    border: 1px solid #f0f2f7;
    display: flex;
    background: #fff;
    position: relative;
}
.listText label{
    padding: 15px 20px;
}
.blockList{
    min-width: 270px;
    border-radius: 4px;

}