.basket{
    animation: zoomIn .2s;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1184px;
    height: 500px;
    background-color: #fff;
    border-radius: 8px;
    overflow: auto;
    margin: 0 auto;
    box-shadow: 0 8px 40px rgb(0 0 0 / 32%);
    z-index: 9999;
}
.basket_one_product{
    display: flex;
    justify-content: space-between;
}
.basket_one_product h2{
    margin-bottom: 8px;
    font-size: 14px;
    color: #221f1f;
}
.basket_one_product img{
    width: 96px;
    height: 96px;
}
.basket_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basket_product{
    display: block;
}