.container_sort{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_sort select{
    border: none;
    margin-left: 62px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;

}
.container_sort select:focus-visible {
outline: none;
}
.container_sort option{
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
}

.container_sort_selected{
    border: none;
}