.slider__slide {
    height: 18vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    width: 1170px;
    position: absolute;
    transition: all 0.8s ease-in-out;


}

.left, .right {
    width: 30px;
    height: 30px;
    background: red;
}

.slider__slide[data-active="true"] {
    opacity: 1

}

.slider__slide__text {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 20px;
    left: 20px;
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold
}

#slide {
    position: relative;
    overflow: hidden;
    height: 50vw;
    padding: 0;
}

.leftArrow {
    position: absolute;
    z-index: 200;
    transition: all 0.2s ease-in-out;
    color: rgba(160, 192, 255, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px #494b4f;
    top: 155px;
    left: 50px;
}

.leftArrow :hover {
    color: rgba(160, 192, 255, 0.5);
    transform: scale(1.1);
}

.rightArrow {
    width: 40px;
    height: 40px;
    top: 155px;
    position: absolute;
    right: 50px;
    transition: all 0.2s ease-in-out;
    color: rgba(160, 192, 255, 0.8);
    border-radius: 50%;
    border: solid 2px #494b4f;
}

.rightArrow:hover {
    color: rgba(160, 192, 255, 0.5);
    transform: scale(1.1);
}