body {
 background: #e4e5e7;
}

nav ul li {
 list-style-type: none;
}
.container{
 width: 1194px !important;

}
hr{
 margin: 0!important;
}
dl, ol, ul{
 margin-bottom: 0 !important;
 padding-left: 0 !important;

}

#root{
 background: #e4e5e7;
}